.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Updated: Set container height to 100% of viewport height */
}

.dashboard-container {
    flex-direction: row;
    margin-top: 100px;
    margin-left: 350px;
    display: flex;
}

.chart-container {
    flex-direction: row;
    width: 20%; /* 또는 다른 원하는 너비 */
    height: 100%; /* 또는 다른 원하는 높이 */
    text-align: center;
    margin-left: 150px;
}

