/* FindPWPage.css */

.FindPW-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: lightgray;
}

.FindPW-form {
    width: center;
    padding: 20px;
    border-radius: 15px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 수정: 수직 정렬을 왼쪽으로 변경 */
}

.FindPW-namebox {
    width: 300px;
    text-align: left;
    margin-bottom: 5px;
    align-self: flex-start; /* 수정: 왼쪽 정렬 */
}

.FindPW-idbox {
    width: 300px;
    text-align: left;
    margin-bottom: 5px;
    align-self: flex-start; /* 수정: 왼쪽 정렬 */
}

.FindPW-button {
    width: 70px;
    padding: 10px;
    margin-left: 20px;
    background-color: darkgray;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.FindPW-returnbutton {
    width: 300px;
    padding: 10px;
    margin-top: 50px;
    background-color: darkgray;
    color: black;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    margin-bottom: 12px;
    text-align: center;
}