.container {
    display: flex;
    height: 100vh; /* Updated: Set container height to 100% of viewport height */
}

.add-todo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-120%, -50%); /* div요소의 50%만큼 이동 */
    width: 500px;
    height: 500px;
    background-color: rgb(229, 229, 229);
}

.todo-list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(20%, -50%); /* div요소의 50%만큼 이동 */
    width: 500px;
    height: 500px;
    background-color: rgb(229, 229, 229);
}